@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
    url('../fonts/BarlowCondensed-Regular.ttf');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('../fonts/BarlowCondensed-Medium.ttf');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: bolder;
  font-display: swap;
  src: local(''),
    url('../fonts/BarlowCondensed-SemiBold.ttf');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('../fonts/BarlowCondensed-Bold.ttf');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-300 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
    url('./roboto-condensed-v25-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./roboto-condensed-v25-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('./roboto-condensed-v25-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./roboto-condensed-v25-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.formulario {
  padding: 2em 10px;
  font-family: "Open Sans", sans-serif;
}

.formulario h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2em;
}

div.form {
  width: 100%;
  max-width: 450px;
  /* height: 45vh; */
  border: 2px solid #fff;
  margin: 0 auto;
  padding: 20px;
  background-color: #ddad28;
}

.input-field {
  position: relative;
}

.input-field i {
  color: #fff;
  margin: 0px 1rem;
  font-size: 25px;
  width: 25px;
  top: -15px;
  position: relative;
}

.input-field i.fa-pen {
  top: -110px;
  position: relative;
}

.input-field:active {
  color: #8FC924;
}

input,
textarea {
  margin-left: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  height: 3rem;
  margin: 0 0 15px 0;
  transition: all .3s;
  width: 80%;
  padding-top: 20px;
  font-size: 16px;
}

textarea {
  padding: 1.6rem 0;
  resize: none;
  height: 120px;
}

label {
  color: #fff;
  position: absolute;
  /* top: 0.8rem; */
  left: 1.3rem;
  cursor: text;
  margin-left: 3rem;
}

.btn-block {
  margin: 0 auto;
  text-align: center;
}

.btn-block .btn {
  text-decoration: none;
  color: #fff;
  /* background-color: #202020; */
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  border: none;
  padding: 10px 35px;
  font-size: 19px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-block .btn i {
  float: right;
  padding-left: 10px;
  font-size: 16px;
  padding-top: 3px;
}

@media screen and (max-width: 400px) {
  div.form {
    width: 90%;
    padding: 20px 10px;
  }

  .input-field i {
    margin: 0px 1rem 0px 0.6rem;
  }

  label {
    left: 0.7rem;
  }
}

.headerA1 {
  height: 90vh;
}

.gridC1 {
  display: grid;
  height: 100vh;
  grid-template: 3fr 9fr 3fr / 7fr 5fr 1fr;
}

.gridH1 {
  grid-column: 2;
  grid-row: 2;
}

.btne {
  background-color: white;
  /* font-weight: ; */
  animation: floating 2s ease infinite;
}

.fa-paper-plane {
  fill: black;
}

@media screen and (max-width: 1000px) {
  .headerA {
    height: 150vh;
  }

  .gridC {
    grid-template: 3fr 9fr 3fr / 1fr 5fr 1fr;
  }

}

@media screen and (max-width: 512px){
  input,
  textarea {
    width: auto;
  }
}